@charset "UTF-8";

/* RESET */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
    border: none;
}

body {
    background-color: #282a2d;
}

img {
    display: block;
    max-width: 100%;
}

/* END RESET */
[data-feed] {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


[data-card] {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    width: 20%;
    margin: 10px;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    transition: 0.1s ease-out;
    margin-bottom: 10px;
}

[data-card]:hover {
    transform: scale(1.1);
}

[data-about] {
    padding: 5px;
    width: 100%;
}

[data-title] {
    font-size: 1.5em;
    text-align: center;
}

[data-info] {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

[data-footer] {
    width: 30px;
    height: 30px;
}

h6 {
    font-size: 1em;
}

[data-load] {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left: 1px solid white;
    border-top: 1px solid white;
    animation: load .2s linear infinite;
    margin: 0 auto;
}

@keyframes load {
    to {
        transform: rotate(360deg);
    }
}

@media all and (max-width: 720px) {

    [data-feed] {
        flex-direction: column;

    }

    [data-card] {
        width: 95%;
        max-width: 100%;
    }

}